Nav {
  text-align: right;
  margin-top: 1em;
  a {
    text-decoration: none;
    color: black;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 600px) {
  Nav {
    text-align: center;
    a {
      margin-right: 2em;
      margin-left: 2em;
    }
  }
}
