.cv-container {
  margin-top: 2em;
}

.cv-tab-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;

  :hover {
    cursor: pointer;
  }
}

.tabitem--inactive {
  font-weight: 300;
}

.cv-item {
  align-items: center;
  width: 65%;
  margin-top: 0.4em;
  margin-bottom: 1.6em;
  margin-left: auto;
  margin-right: auto;
}

.cv-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 0.2em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
}

.cv-prof-title {
  margin-top: 0%;
  margin-bottom: 0%;
}

.cv-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  margin-top: 0.2em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
}

hr {
  width: 50%;
}

.skills-header {
  text-align: left;
}

.skills-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 65%;
  margin-top: 0.2em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
}

.download-button {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  width: 30%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  a {
    text-decoration: none;
    color: black;
  }
}

.download-button-english {
  margin-top: 3em;
}

.download-button-finnish {
  margin-top: 1em;
  margin-bottom: 3em;
}

.portfolio-img-agco {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-img-crops {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-img-port {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: calc(100% / 2);
  justify-content: space-between;
  width: 100%;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-img-column {
  margin-left: 1em;
  margin-right: 1em;
  flex-grow: 1;
  flex-basis: calc(100% / 2);
}

.portfolio-img {
  width: 100%;
  margin-bottom: 1em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.portfolio-img-modals {
  width: 100%;
  margin-bottom: 1em;
}

@media only screen and (max-width: 900px) {
  .cv-tab-row,
  .portfolio-img-row {
    width: 100%;
    flex-direction: column;
  }
  .download-button {
    width: 50%;
  }
  .skills-row {
    width: 100%;
    flex-direction: column;
    margin-left: 40%;
  }
}
